<div id="populationData">
    {{#if data.pop}}
        <p><b>{{ data.state }} Population: {{ data.pop }}</b></p>
    {{else}}
        <p>No population data available for {{ data.state }}</p>
    {{/if}}
</div>